.gif-box {
    position: relative;
}

.gif-user {
    position: absolute;
    left: 15px;
    bottom: 15px;

    display: flex;
    align-items: center;

}

.gif-user img {
    width: 40px;
    margin-right: 8px;
}